

// colors
$mainColor: #F6A97B;
$lightMainColor: #FBC6A7;
$lighterMainColor: #EDCDBA;
$gray: #B8B8B8;
$black: #0E1317;


// fonts
$bodyFonts: 'Poppins', popp-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$codeFonts: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;